$calc-background-color: #DDDDDD;
$primary-color: #AFAFAF;
$headline-color: #454545;


$calc-background-low: black;
$primary-color-low: #ED5A57;

$calc-background-med: #2A2C2B;
$primary-color-med: #BDC3C7;

$calc-background-high: #fff4e4;
$primary-color-high: #228B22;

.mainPage--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary-color
}

.headline {
  color: $headline-color
}

.calculator--wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: $calc-background-color;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid $primary-color;
}

.calc--low {
  background-color: $calc-background-low;
  color: $primary-color-low
}

.calc--high {
  background-color: $calc-background-high;
  color: $primary-color-high
}

.calc--med {
  background-color: $calc-background-med;
  color: $primary-color-med

}

.number__input {
  height: 3em;
  border: 1px solid $primary-color;
  margin-bottom: 2em;
} 

.calc__btn {
  height: 3em;
  border: 1px solid $primary-color;
  margin-bottom: 2em;
  width: 30%;
  align-self: flex-end;
  justify-self: flex-end;
  color: inherit;
}

.results--wrapper {
  display: flex;
  justify-content: space-between;
}

.MuiInputBase-root{ 
  background-color: #fff;
}

#percentage__input {
  background-color: #fff; 
  padding: 0;
  color: $primary-color;
  height: 2em;
}

.error__message {
  color: red;
}

.border-med {
  border: 1px solid $primary-color-med;
}

.border-high {
  border: 1px solid $primary-color-high;
}

.border-red {
  border: 1px solid $primary-color-low;
}

.creditcard-wrapper,
.credit-input--wrapper {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .calculator--wrapper  {
    width: 90%;
  }
}