$calc-background-color: #DDDDDD;
$border-color: #AFAFAF;

.mainPage--wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator--wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: $calc-background-color;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid $border-color;
}